<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
</head>
<body class = "main_container">
  <div class = "app">
    <header>
      <h1>Travel App</h1>
      Enter your destination and trip date, and you'll get a weather forecast and a nice photo corresponding to your trip!
    </header>
    <main>
      <div class = "input_container">
        <div class ="holder city">
          <label for="city">Enter city name here</label>
          <input type="text" id="city" placeholder="enter city name here" pattern = "^[a-zA-Z]+(?:[\s-]+[a-zA-Z]+)*$">
        </div>
        <div class ="holder feel">
          <label for="tripDate">When is the trip?</label>
          <input type = "text" id="tripDate" placeholder="MM/DD/YYYY" pattern = "^(0?[1-9]|1[012])(\/)(0?[1-9]|[1-2][1-9]|3[01]|[12]0)(\/)((20)\d\d)$">
        </div>
        <div>
          <button id="generate" type = "submit"> Generate </button>
        </div>
      </div>
      <div class ="holder_entry">
        <div id = "photoHolder">
          <img id = "photo">
        </div>
        <div id = "response_text_details">
          <div id = "destination_details">
            <div id = "cityName"></div>
            <div id = "country"></div>
            <div id = "date"></div>
            <div id = "daysToTrip"></div>
          </div>
          <div id = "weather_details">
            <div id = "lowTemp"></div>
            <div id = "maxTemp"></div>
            <div id = "clouds"></div>
          </div>
        </div>
    </div>
    </main>
    <footer>
      <div class = "title">App based on publicly available APIs</div>
      <div id = "API_credits">
        <a id = "GeoNames" href = "https://www.geonames.org/export/web-services.html" target="_blank">GeoNames</a>
        <a id = "Weatherbit" href = "https://www.weatherbit.io/api" target="_blank">Weatherbit.io</a>
        <a id = "Pixabay" href = "https://pixabay.com/api/docs/" target="_blank">Pixabay</a>
      </div>
    </footer>
  </div>
</body>
</html>
