#GeoNames {
  font: 18px Arial;
  color: #336633;
  text-decoration: none;
}

#Weatherbit {
  font: 18px Lato;
  color: #146;
  text-decoration: none;
}

#Pixabay {
  font: 18px 'Open Sans', sans-serif;
  color: #000;
  text-decoration: none;
}
